* {
    margin: 0;
    padding: 0;
  }
  
  /*-------------------------
      General Styles
  --------------------------*/
  
  html {
    overflow: hidden;
  }
  
  body {
    font: 15px/1.3 Arial, sans-serif;
    color: #4f4f4f;
    z-index: 1;
    background: rgb(2,0,36);
    background: linear-gradient(96deg, rgba(2,0,36,1) 0%, rgba(19,21,62,1) 0%, rgba(49,57,106,1) 0%, rgba(83,98,157,1) 0%, rgba(58,107,120,1) 0%, rgba(79,118,151,1) 0%, rgba(23,78,122,1) 0%, rgba(218,46,237,1) 0%, rgba(165,79,206,1) 0%, rgba(93,184,193,1) 0%, rgba(219,45,238,1) 0%, rgba(249,27,255,0.9164040616246498) 0%, rgba(112,111,176,1) 0%, rgba(125,173,186,1) 0%, rgba(0,0,0,0.8239670868347339) 0%, rgba(31,83,125,1) 0%, rgba(69,151,151,1) 0%, rgba(165,89,125,1) 43%, rgba(105,137,146,1) 78%, rgba(131,73,193,1) 100%, rgba(84,99,158,1) 100%, rgba(8,10,10,1) 100%, rgba(173,119,155,1) 100%, rgba(125,175,170,1) 100%, rgba(86,127,161,1) 100%, rgba(87,103,162,1) 100%);
  }
  
  a,
  a:visited {
    outline: none;
    color: #389dc1;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  section,
  footer,
  header,
  aside {
    display: block;
  }
  
  /*-------------------------
      The clocks
  --------------------------*/
  
  #clock {
    width: 370px;
    padding: 40px;
    margin: 100px auto 60px;
    position: relative;
  }
  
  #clock:after {
    content: '';
    position: absolute;
    width: 400px;
    height: 20px;
    border-radius: 100%;
    left: 50%;
    margin-left: -200px;
    bottom: 2px;
    z-index: -1;
  }
  
  #clock .display {
    text-align: center;
    padding: 30px;
    border-radius: 6px;
    position: relative;
    height: 54px;
  }
  
  /*-------------------------
      Dark color theme
  --------------------------*/
  
  #clock.dark {
    border-radius: 10px;
     background-color: #2d3642;
    color: #cacaca;
  }
  
  #clock.dark:after {
    box-shadow: 0 4px 10px rgba(128, 53, 53, 0.3);
  }
  #clock.dark .display {
    background: rgb(2,0,36);
    background: linear-gradient(96deg, rgba(2,0,36,1) 0%, rgba(44,7,28,1) 0%, rgba(19,21,62,1) 0%, rgba(49,57,106,1) 0%, rgba(83,98,157,1) 0%, rgba(58,107,120,1) 0%, rgba(79,118,151,1) 0%, rgba(23,78,122,1) 0%, rgba(218,46,237,1) 0%, rgba(165,79,206,1) 0%, rgba(93,184,193,1) 0%, rgba(219,45,238,1) 0%, rgba(249,27,255,0.9164040616246498) 0%, rgba(112,111,176,1) 0%, rgba(125,173,186,1) 0%, rgba(0,0,0,0.8239670868347339) 0%, rgba(105,137,146,1) 0%, rgba(185,73,193,1) 42%, rgba(84,99,158,1) 100%, rgba(8,10,10,1) 100%, rgba(173,119,155,1) 100%, rgba(125,175,170,1) 100%, rgba(86,127,161,1) 100%, rgba(87,103,162,1) 100%, rgba(89,105,165,1) 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset, 0 1px 1px #2d3642;
  }
  h1#time {
    display: inline-block;
    font-size: 36px;
  }